@import 'vars.scss';
@import 'fonts.scss';

////////// reset
@import 'reset.scss';

::placeholder {
  font-family: 'IRANSans';
  direction: rtl;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'IRANSans';
  background: #f6f6f6;
  padding-top: map-get($map: $header, $key: height);
  min-height: 100vh;
}
header {
  background: #ffffff;
  box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: map-get($map: $header, $key: height);
  #header {
    padding: 0;
    height: 100%;
    #logo {
      width: 190px;
      height: map-get($map: $header, $key: height);
      max-width: 100%;
      max-height: 100%;
      > img {
        display: block;
        max-width: 100%;
        height: 100%;
      }
    }
    nav {
      a {
        color: #444444;
        text-decoration: none;
        &:hover {
          color: #111111;
        }
      }
    }
  }
}

main {
  min-height: calc(100vh - #{map-get($header, height) + map-get($footer, height)});
  padding-bottom: 1px;
}

footer {
  background: #333333;
  color: #888888;
  text-align: center;
  text-shadow: 0 1px 2px #000000;
  box-shadow: inset 0 3px 4px -3px #000000;
  height: map-get($map: $footer, $key: height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: pointer;
}
button {
  font-family: 'IRANSans';
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
