@import '../../sass/shared/vars';

$padding: 35px;
.project-container {
  background: #ffffff;
  box-shadow: $box-shadow, 0 4px 30px rgba(#000000, 0.05);
  border-radius: 5px;
  margin: 0 0 $padding;
  padding: $padding;
  min-height: 250px;
  .project-avatar {
    flex: 0 0 auto;
    // float: right;
    width: 180px;
    height: 180px;
    margin: 0 0 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f3f3;
    > img {
      max-width: 100%;
    }
  }
  .project-content {
    .project-name {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .project-info {
      list-style: none;
      margin-top: 25px;
      > li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        > i:before {
          margin-left: 10px;
          font-size: 18px;
          line-height: 1;
          display: inline-block;
        }
      }
      .project-deadline {
        color: #666666;
        &.ended {
          color: #d50000;
        }
      }
      .project-budget {
        font-size: 18px;
        font-weight: bold;
        color: #00838f;
      }
      .won-user {
        font-weight: bold;
        color: #388e3c;
      }
    }
  }
  .project-description {
    margin-top: 25px;
    > h4 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    > p {
      font-size: 16px;
      text-align: justify;
      line-height: 1.6;
      margin-bottom: 15px;
      text-indent: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .project-skills {
    margin: $padding (-$padding) $padding;
    background: #f9f9f9;
    padding: 30px $padding 25px;
    border-top: 2px dashed #4dd0e1;
    border-bottom: 1px solid #dddddd;
    > h4 {
      font-size: 18px;
      font-weight: bold;
      color: #00838f;
    }
  }
  .project-form {
    .already-bid {
      color: #388e3c;
      font-size: 18px;
    }
    .deadline-reached {
      font-size: 18px;
      color: #d50000;
      display: flex;
      align-items: center;
      > i:before {
        font-size: 22px;
      }
    }
    > h4 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .bid-form {
      display: flex;
      align-items: stretch;
      .input-wrapper {
        border: 2px solid #00bcd4;
        background: #ffffff;
        border-radius: 4px;
        padding: 5px 10px;
        margin-left: 15px;
        > input {
          background: transparent;
          border: none;
          margin-left: 7px;
        }
        .bid-label {
          align-self: center;
          color: #0097a7;
        }
      }
      > button {
        padding: 0 10px;
        background: #00acc1;
        border-radius: 4px;
        color: #ffffff;
        border: none;
      }
    }
  }
}
