@import '../../sass/shared/vars';

header {
  background: #ffffff;
  box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: map-get($map: $header, $key: height);
  z-index: 100;
  #header {
    padding: 0;
    height: 100%;
    #logo {
      width: 190px;
      height: map-get($map: $header, $key: height);
      max-width: 100%;
      max-height: 100%;
      > img {
        display: block;
        max-width: 100%;
        height: 100%;
      }
    }
    nav {
      a {
        color: #444444;
        text-decoration: none;
        &:hover {
          color: #111111;
        }
      }
    }
  }
}
